/*titre*/
@media only screen and (min-width: 600px) {
    .page-template-listeArticles .souligne {
        display: inline;
        --underline-width-scale: calc(var(--underline-width) / var(--underline-intrinsic-width));
        padding: 0 calc(var(--underline-padding-x) + calc(var(--underline-cap-width) * var(--underline-width-scale)));
        box-decoration-break: clone;
        background-repeat: no-repeat;
        background-image: linear-gradient(180deg, var(--underline-color, #fdca40), var(--underline-color, #fdca40)), var(--cap-image-left), var(--cap-image-right);
        background-position-x: calc(var(--underline-cap-width) * var(--underline-width-scale)), 0, 100%;
        background-position-y: calc(100% - var(--underline-offset-y) * -1);
        background-size: calc(100% - calc(var(--underline-cap-width) * var(--underline-width-scale) * 2)) calc(var(--underline-width) * 1px), auto calc(var(--underline-width) * 1px), auto calc(var(--underline-width) * 1px);
        --underline-width: 20;
        --underline-offset-y: -10px;
        --cap-image-left: url(https://files-6lc03kjqt.now.sh/left-2.svg);
        --cap-image-right: url(https://files-e7gkh52mq.now.sh/right-2.svg);
    }
}

.page-template-listeArticles .titre_page {
    margin: 40px 0;
}


/*grille*/
.page-template-listeArticles #event {
    width: 100%;
    padding: 0 50px;
}

.page-template-listeArticles #event div.entete {
    width: 100%;
}

.page-template-listeArticles h1 {
    font-size: 3rem;
    color: black;
}

.page-template-listeArticles #event .grille {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 50px;
}

.page-template-listeArticles #event .grille ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    grid-column-gap: 4vw;
    grid-row-gap: 3vw;
    margin-left: auto;
    margin-right: auto;
    padding: 2vh;
    list-style-type: none;
    width: 100%;
}

/*
.page-template-listeArticles #event div.articles {
    width: 100%;
    height: 32vw;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #00000055;
}*/


.page-template-listeArticles #event li a:hover {
    transition: all;
    transform: translateY(5px);
}

.page-template-listeArticles div.liste-article {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
    min-height: 200px;
    background-color: #00000055;
}

.page-template-listeArticles #event h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 1.3rem;
    line-height: auto;
    color: white;
    padding: 10px;
    margin: 0;
    filter: drop-shadow(0 0 15px #0000002c);
}

.page-template-listeArticles #event a {
    text-decoration: none;
    margin: 0;
    display: block;
    min-height: 400px;
    position: relative;
    width: 100%;
}

.page-template-listeArticles #event p {
    filter: drop-shadow(0 0 15px #00000022);
    font-style: normal;
    margin: 0;
    font-size: 1rem;
}

.page-template-listeArticles #event p.resume {
    padding: 0 10px 20px 10px;
    font-size: 1rem;
}

.page-template-listeArticles #event p.lire_la_suite {
    font-weight: lighter;
    font-size: 0.9rem;
}

.page-template-listeArticles #event p.interactions {
    padding: 0 7px;
}

.page-template-listeArticles #fond-texte {
    background-color: #B84D97;
    opacity: 100%;
    position: absolute;
    padding-bottom: 20px;
    border-radius: 0 0 10px 10px;
    bottom: 0;
    min-height: 200px;
}

.page-template-listeArticles #fond-texte p {
    color: white;
}

.page-template-listeArticles .donnees-articles {
    display: flex;
    justify-content: flex-start;
    line-height: 100%;
    color: white;
    position: absolute;
    bottom: 5px;
}

.page-template-listeArticles img.interaction {
    height: 20px;
    width: auto;
}

.page-template-listeArticles .entry-meta {
    margin: 0;
    font-weight: normal;
    font-size: 1rem;
    padding: 0 7px;
}

.page-template-listeArticles .fa-comments:before {
    padding-right: 0.7vw;
}

.page-template-listeArticles .post-views.entry-meta {
    font-size: 1rem;
}


@media screen and (min-width: 601px) and (max-width: 900px) {
/*
    .page-template-listeArticles #event {
        padding: 0 30px;
    }
*/
    .page-template-listeArticles #event .grille ul {
        grid-template-columns: repeat(2, 1fr);
    }
/*
    .page-template-listeArticles #fond-texte {
        bottom: -15vw;
    }*/

}

@media (min-width: 0px) and (max-width: 600px) {
/*    .page-template-listeArticles #event {
        padding: 0;
    }

    .page-template-listeArticles #event h1 {
        margin: 0;
        padding-left: 2vh;
    }
*/
    .page-template-listeArticles #event .grille ul {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20vw;
        padding: 0 4vh;
    }
/*
    .page-template-listeArticles #event div.liste-article {
        height: 45vw;
    }
/*
    .page-template-listeArticles #event div.articles {
        height: 45vw;
    }

    .page-template-listeArticles #fond-texte {
        bottom: -25vw;
    }
*/ù
}
