/*titre*/
@media only screen and (min-width: 600px) {
    .souligne {
        display: inline;
        --underline-width-scale: calc(var(--underline-width) / var(--underline-intrinsic-width));
        padding: 0 calc(var(--underline-padding-x) + calc(var(--underline-cap-width) * var(--underline-width-scale)));
        box-decoration-break: clone;
        background-repeat: no-repeat;
        background-image: linear-gradient(180deg, var(--underline-color, #fdca40), var(--underline-color, #fdca40)), var(--cap-image-left), var(--cap-image-right);
        background-position-x: calc(var(--underline-cap-width) * var(--underline-width-scale)), 0, 100%;
        background-position-y: calc(100% - var(--underline-offset-y) * -1);
        background-size: calc(100% - calc(var(--underline-cap-width) * var(--underline-width-scale) * 2)) calc(var(--underline-width) * 1px), auto calc(var(--underline-width) * 1px), auto calc(var(--underline-width) * 1px);
        --underline-width: 20;
        --underline-offset-y: -10px;
        --cap-image-left: url(https://files-6lc03kjqt.now.sh/left-2.svg);
        --cap-image-right: url(https://files-e7gkh52mq.now.sh/right-2.svg);
    }
}

.titre_page {
    margin: 40px 0;
}


/*grille*/
#event {
    width: 100%;
    padding: 0 50px;
}

#event div.entete {
    width: 100%;
}

h1 {
    font-size: 5vw;
    color: black;
}

#event .grille {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 50px;
}

#event .grille ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 32vw;
    grid-column-gap: 4vw;
    grid-row-gap: 3vw;
    margin-left: auto;
    margin-right: auto;
    padding: 2vh;
    list-style-type: none;
    width: 100%;
}

#event div.articles {
    width: 100%;
    height: 32vw;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #00000055;
}

#event .articles:hover {
    background-color: #B84D97BB;
    transition: .5s;
    transform: scale(1.01);
}

div.liste-article {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 17vw;
}

#event h2 {
    font-family: "Roboto Black", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.6vw;
    line-height: 2vw;
    color: white;
    padding: 10px;
    margin: 0;
    filter: drop-shadow(0 0 15px #0000002c);
}

#event a {
    text-decoration: none;
    margin: 0;
}

#event p {
    filter: drop-shadow(0 0 15px #00000022);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin: 0;
    font-size: 1vw;
}

#event p.resume {
    padding: 0 10px;
    font-size: 1.1vw;
}

#event p.lire_la_suite {
    font-family: "Roboto Light", sans-serif;
    font-size: 0.9vw;
}

#event p.interactions {
    font-family: "Roboto Light", sans-serif;
    padding: 0 7px;
}

#fond-texte {
    background-color: #B84D97;
    opacity: 100%;
    position: relative;
    height: 17vw;
    bottom: -16vw;
    border-radius: 0 0 10px 10px;
}

.donnees-articles {
    display: flex;
    justify-content: flex-start;
    line-height: 100%;
}

div.en-bas {
    position: absolute;
    bottom: 1.2vw;
    margin-left: 7px;
}

img.interaction {
    height: 20px;
    width: auto;
}

.entry-meta {
    margin: 0;
    font-weight: normal;
    font-family: "Roboto Light", sans-serif;
    font-size: 12px;
    padding: 0 7px;
}

.fa-comments:before {
    padding-right: 0.7vw;
}

.post-views.entry-meta {
    font-family: "Roboto", sans-serif;
    font-size: 1vw;
}

@media screen and (min-width: 601px) and (max-width: 900px) {

    h1 {
        font-size: 8vw;
    }

    #event {
        padding: 0 30px;
    }

    #event .grille ul {
        grid-template-columns: repeat(2, 1fr);
    }

    #event div.articles {
        height: 29vw;
    }

    #fond-texte {
        height: 14vw;
        bottom: -16vw;
    }

    p.resume {
        font-size: 1.6vw;
    }
}

@media (max-width: 600px) {
    #event .grille ul {
        grid-template-columns: 100%;
    }
}
